# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @wdthecloudforge will be requested for
# review when someone opens a pull request.
* @wdthecloudforge

# Here @jdthecloudforge owns any parameter file in the `/coreplatform` or `/resources`
# directory in the root of your repository
/coreplatform/*.parameters.bicep @jdthecloudforge
/resources/*.parameters.bicep @jdthecloudforge
